<%= flash[:notice] %>

<div class  = "container">
<div class = "row">
<div class = "col-md-3 ">

<!--User infoを部分テンプレートで持ってきてる-->
<%= render 'users/user', user: @user %>
<!--New bookを部分テンプレートで持ってきてる-->
<%= render 'book', book: @book %>

<div class = "col-md-8 offset-md-1">
<h1>Book detail</h1>

<table class = "table">
<tbody>
<tr>
  <td>
      <td><%= link_to user_path(@user) do %>  
      <%= image_tag @books.user.get_profile_image(100,100)%>
      <br>
      <%= link_to @books.user.name, user_path(@books.user_id) %>
      <% end %>
      </td>  
  </td>
  
  
  
  <td>
  <p><%= link_to @books.title, book_path(@books.id) %></p>
  </td>
  <td>
  <p><%= @books.body %></p>
  </td>
  
  <% if @books.user == current_user %>
  <td><a class = "btn btn-sm btn-success"<%= link_to "Edit", edit_book_path(@books.id) %></a></td>
  
  <td><a class = "btn btn-sm btn-danger"<%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></a>
  <% end %>
  </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
